<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>neon-advanced-animations Demo</title>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../../paper-button/paper-button.html">
    <link rel="import" href="scroll-me.html">
  </head>
  <body unresolved>

    <template is="dom-bind" id="scope">
      <scroll-me id="scrollable"></scroll-me>
      <paper-button on-tap="xShift">horizontal scroll 100 px</paper-button>
      <paper-button on-tap="yShift">vertical scroll 100 px</paper-button>
      <paper-button on-tap="leftShift">Scroll to Left</paper-button>
      <paper-button on-tap="rightShift">Scroll to right</paper-button>
      <paper-button on-tap="topShift">Scroll to Top</paper-button>
      <paper-button on-tap="bottomShift">Scroll to Bottom</paper-button>
    </template>

    <script>
      var scope = document.getElementById('scope');
      scope.xShift = function() {
        this.$.scrollable.xShift();
      };
      scope.yShift = function() {
        this.$.scrollable.yShift();
      };
      scope.leftShift = function() {
        this.$.scrollable.leftShift();
      };
      scope.rightShift = function() {
        this.$.scrollable.rightShift();
      };
      scope.topShift = function() {
        this.$.scrollable.topShift();
      };
      scope.bottomShift = function() {
        this.$.scrollable.bottomShift();
      };
    </script>

  </body>
</html>
