<link rel="import" href="../../iron-icons/iron-icons.html">
<link rel="import" href="../../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../paper-item/paper-icon-item.html">
<link rel="import" href="../../paper-item/paper-item-body.html">
<link rel="import" href="../../paper-styles/typography.html">
<link rel="import" href="../../iron-image/iron-image.html">
<link rel="import" href="../../neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../neon-animation/animations/slide-from-left-animation.html">
<link rel="import" href="../../neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../neon-animation/animations/cascaded-animation.html">
<link rel="import" href="../../moment-element/moment-with-locales-import.html">
<link rel="import" href="../../paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../paper-button/paper-button.html">

<dom-module id="mr-notifications">
  <template>
    <style>
      :host {
        display: block;
        box-sizing: border-box;
        @apply(--paper-font-common-base);
        height: 100vh;
      }
      paper-icon-item {
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: default;
        background: var(--paper-grey-100);
        transition: background 0.3s;
      }
      paper-icon-item.seen:not(:first-of-type) {
        border-top: 1px solid var(--paper-grey-200);
      }
      paper-icon-item:not(:first-of-type) {
        border-top: 1px solid var(--paper-grey-100);
      }
      .seen + paper-icon-item {
        border-top: 1px solid var(--paper-grey-200);
      }
      paper-icon-item:not(.seen) {
        background: white;
        color: var(--paper-light-blue-500);
      }
      paper-icon-item.seen {
        color: var(--paper-grey-700);
      }
      paper-icon-item:not(.seen) [secondary] {
        color: var(--paper-blue-900);
      }
      iron-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      /* border-radius sometimes doesn't apply */
      iron-image::content > * {
        border-radius: 50%;
      }
      #timestamp {
        color: var(--paper-grey-400);
        font-size: 14px;
      }
      #first-line {
        @apply(--layout-horizontal);
        @apply(--layout-justified);
        transition: color 0.3s;
      }
      paper-radio-button {
        --paper-radio-button-unchecked-color: var(--paper-grey-600);
        --paper-radio-button-checked-color: var(--paper-grey-500);
        /*absolute position for ink to overflow*/
        position: absolute;
        right: 18px;
      }
      paper-icon-button {
        --paper-icon-button-ink-color: white;
      }
      #arrowBack {
        margin-right: 15px;
      }
      paper-item {
        position: relative;
        height: 50px;
        border-top: 1px solid var(--paper-grey-200);
      }
      #notificationsWrapper {
        @apply(--layout-vertical);
      }
      paper-button {
        @apply(--layout-fit);
        line-height: 50px;
        margin: 0;
        padding: 0;
        border-radius: 0;
        --paper-button-ink-color: var(--paper-blue-500);
      }
    </style>
    <paper-header-panel class="flex" mode="waterfall">
      <paper-toolbar>
        <paper-icon-button id="arrowBack" icon="arrow-back" on-tap="_close"></paper-icon-button>
        <div class="title">NOTIFICATIONS</div>
        <div class="flex"></div>
        <paper-icon-button icon="done-all" on-tap="_doneAll"></paper-icon-button>
      </paper-toolbar>
      <div id="notificationsWrapper">
      <template id="domRepeat" is="dom-repeat" items="[[notifications]]" on-dom-change="_playEntryAnimation">
        <paper-icon-item class$="{{_getSeenClass(item.seen)}}">
          <iron-image src="{{item.icon}}" draggable="false" preload sizing="cover" item-icon></iron-image>
          <paper-item-body two-line>
            <div id="first-line">
              [[item.title]]
              <div id="timestamp">{{_humanizeDate(item.date)}}</div>
            </div>
            <div secondary>
              [[item.text]]
              <paper-radio-button checked="{{item.seen}}"></paper-radio-button>
            </div>
          </paper-item-body>
        </paper-icon-item>
      </template>
      <paper-item>
        <paper-button on-tap="_showAll">AFFICHER TOUT</paper-button>
      </paper-item>
      </div>
    </paper-header-panel>
   
  </template>
  <script>
    Polymer({
      is: 'mr-notifications',

      behaviors: [
        Polymer.NeonAnimationRunnerBehavior
      ],

      properties: {
        notifications: Array,
        animationConfig: {
          value: function() {
            return {
              'entry': [{
                name: 'cascaded-animation',
                animation: 'slide-from-left-animation',
                timing: {
                  duration:800, 
                  delay: 100
                }
              },{
                name: 'cascaded-animation',
                animation: 'fade-in-animation',
                timing: {
                  duration:800, 
                  delay: 100
                }
              }]
            }
          }
        }
      },

      ready: function() {
        moment.locale('fr');
      },

      _doneAll: function() {
        for (i in this.notifications) {
          if (!this.notifications[i].seen) {
            this.set('notifications.'+i+'.seen', true);
          }
        }
      },

      _playEntryAnimation: function() {
        this.animationConfig['entry'][0].nodes 
          = this.animationConfig['entry'][1].nodes 
          = Polymer.dom(this.root).querySelectorAll('paper-icon-item');
        this.playAnimation('entry', {animation: 'entry'});
      },

      _getSeenClass: function(seen) {
        return seen ? ' seen': '';
      },

      _humanizeDate: function(date) {
        return moment(date).fromNow(true);
      },

      _showAll: function() {
        
      },

      _close: function() {
        
      },

    });
  </script>
</dom-module>